@font-face {
  font-family: "Dihjauti";
  src:
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.woff2") format("woff2"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.woff") format("woff"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.ttf") format("truetype"),
    url("../assets/fonts/Dihjauti/Dihjauti-Regular.eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Dihjauti";
  src:
    url("../assets/fonts/Dihjauti/Dihjauti-Bold.woff2") format("woff2"),
    url("../assets/fonts/Dihjauti/Dihjauti-Bold.woff") format("woff"),
    url("../assets/fonts/Dihjauti/Dihjauti-Bold.ttf") format("truetype"),
    url("../assets/fonts/Dihjauti/Dihjauti-Bold.eot")
      format("embedded-opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src:
    url("../assets/fonts/Overpass/Overpass-Regular.woff2") format("woff2"),
    url("../assets/fonts/Overpass/Overpass-Regular.woff") format("woff"),
    url("../assets/fonts/Overpass/Overpass-Regular.ttf") format("truetype"),
    url("../assets/fonts/Overpass/Overpass-Regular.eot")
      format("embedded-opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Overpass";
  src:
    url("../assets/fonts/Overpass/Overpass-Light.woff2") format("woff2"),
    url("../assets/fonts/Overpass/Overpass-Light.woff") format("woff"),
    url("../assets/fonts/Overpass/Overpass-Light.ttf") format("truetype"),
    url("../assets/fonts/Overpass/Overpass-Light.eot")
      format("embedded-opentype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src:
    url("../assets/fonts/Lora/Lora-Regular.woff2") format("woff2"),
    url("../assets/fonts/Lora/Lora-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lora";
  src:
    url("../assets/fonts/Lora/Lora-Bold.woff2") format("woff2"),
    url("../assets/fonts/Lora/Lora-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
 /* Шрифты */
  /* Шрифт для инпутов меню */
  --font-family: "Lora", sans-serif;
  /* Шрифт для кнопок, описания и подзаголовков */
  --second-family: "Overpass", sans-serif;
  /* Шрифт для заголовков */
  --font3: "Dihjauti", sans-serif;

  /* Веса шрифтов */
  --font-weight-light: 300;
  --font-weight-regular: 400;
  --font-weight-bold: 700;

  /* Цвета */
  --color-bg: #f9f9ef;
  --color-text: #191a18;
  --color-header-footer-bg: #191a18;
  --color-white: #ffffff;
  --color-card: #f3f1e8;
  --color-orange: #d75300;
  --color-form-input: rgba(25, 26, 24, 0.5);
  --sandy: #dec884;

  /* Адаптивная высота обрезанного края блоков */
  --tear-height: clamp(40px, 4.9vw, 100px);
}

input,
textarea,
select {
  outline: none;
  border: none;
  box-shadow: none;
  font-size: 32px;
}

select,
option {
  color: inherit;
  font-family: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  font-family: var(--font-family);
  color: var(--color-text);
  font-weight: 400;
  background-color: var(--color-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: transform 0.2s ease;
}

body.hidden {
  overflow: hidden;
}

header,
footer {
  flex: 0 0 auto;
  background-color: var(--color-header-footer-bg);
  color: var(--color-bg);
}

main {
  flex: 1 0 auto;
}

.container {
  margin: auto;
  max-width: 1660px;
  padding: 0 30px;
}

h6,
h5,
h4,
h3,
h2,
h1,
.h6,
.h5,
.h4,
.h3,
.h2,
.h1 {
  margin: 0;
  font-family: var(--font3);
  display: inline-block;
  font-weight: 700;
  color: var(--color-orange);
}

/* Заголовок в HERO */
h1,
.h1 {
  font-size: clamp(32px, 4.2vw, 80px);
  line-height: 1.25;
  letter-spacing: 5px;
}

/* Заголовки всех секций */
h2,
.h2 {
  font-size: clamp(24px, 2.083vw, 40px);
  margin-bottom: clamp(30px, 2.9vw, 56px);
  text-transform: uppercase;
  line-height: 1.125;
  letter-spacing: 5%;
}

/* Подзаголовки блоков Benefits, CTA, Testimonials */
h3,
.h3 {
  font-size: clamp(20px, 1.67vw, 32px);
}

/* Заголовки карточек в Quests*/
h4,
.h4 {
  font-size: clamp(18px, 1.25vw, 24px);
}

/* Для заголовков, чтобы центрировать */
.text-align {
  width: 100%;
  text-align: center;
}

p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

/* BTN */
.btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  border: none;
  border-radius: 48px;
}

/* Кнопка для секции Quests и Header */
.btn-card {
  padding: 8px 24px;
  font-size: 20px;
  font-weight: var(--font-weight-regular);
  font-family: var(--font-family);
  line-height: 167%;
}

/* Кнопка для всех блоков кроме Hero и Quests */
.btn-secondary {
  padding: 16px 40px;
  font-size: 20px;
  font-weight: var(--font-weight-bold);
  font-family: var(--second-family);
  letter-spacing: 0.15em;
}

/* Обычная секция */
.section-common {
  margin-top: clamp(50px, 5.9vw, 120px);
  margin-bottom: clamp(50px, 5.9vw, 120px);
}

/* Секция блога */
.section-special {
  margin-top: calc(var(--tear-height) + clamp(20px, 1.6vw, 25px));
  margin-bottom: clamp(50px, 5.9vw, 120px);
}

/* Секции с рваными краями */
.section-decorated-light,
.section-decorated-dark,
.decorated-dark-stats,
.decorated-light-stats,
.decorated-dark-cta,
.decorated-light-cta,
.decorated-dark-header {
  position: relative;
  width: 100%;
}

/* Низ оборванного края */
.section-decorated-dark::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--tear-height) + 1px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-dark.png") center bottom / cover
    no-repeat;
  pointer-events: none;
}

.decorated-dark-stats::after {
  content: "";
  position: absolute;
  bottom: calc(0 * var(--tear-height) - 2px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-dark-stats.png") center bottom /
    cover no-repeat;
  pointer-events: none;
}

.decorated-dark-cta::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--tear-height) + 1px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-dark-cta.png") center bottom / cover
    no-repeat;
  pointer-events: none;
}

.decorated-dark-header::after {
  content: "";
  position: absolute;
  bottom: calc(-1 * var(--tear-height) + 1px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-dark-header.png") center bottom / cover
    no-repeat;
  pointer-events: none;
}

/* Верх оборванного края */
.section-decorated-light::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--tear-height) + 2px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-light.png") center top / cover
    no-repeat;
  pointer-events: none;
}

.decorated-light-stats::before {
  content: "";
  position: absolute;
  top: calc(0 * var(--tear-height) - 1px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-light-stats.png") center top / cover
    no-repeat;
  pointer-events: none;
}

.decorated-light-cta::before {
  content: "";
  position: absolute;
  top: calc(-1 * var(--tear-height) + 2px);
  left: 0;
  width: 100%;
  height: var(--tear-height);
  background: url("../assets/images/border-light-cta.png") center top / cover
    no-repeat;
  pointer-events: none;
}

/* Header */
header {
  position: fixed;
  top: 0; 
  left: 0; 
  right: 0;
  z-index: 200; 
  height: 114px;
  background: var(--color-header-footer-bg);
}

.header__wrapper,
.footer__wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex-shrink: 0;
}

.header-menu,
.footer-menu {
  display: flex;
  align-items: center;
  gap: 35px;
}

nav a {
  text-decoration: none;
  color: var(--color-bg);
  font-size: 16px;
  line-height: 21px;
  font-family: var(--second-family);
  letter-spacing: -0.56px;
  text-transform: uppercase;
  transition: color 0.22s;
  white-space: nowrap;
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  bottom: -4px; left: 0; right: 0;
  height: 1px;
  background: var(--color-orange);
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.22s;
}

nav a:hover { 
  color: var(--color-white); 
}
nav a:hover::after { 
  transform: scaleX(1); 
}

.header__right {
  display: flex;
  gap: 40px;
}

.header-socials__wrapper {
  display: flex;
  gap: 8px;
}

.btn-book {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  gap: 4px;
  padding: 8px 24px;
  border: 1px solid var(--color-bg);
  border-radius: 48px;
  background: transparent;
  color: var(--color-white);
  font-family: var(--font-family);
  font-size: 18px;
  line-height: 30px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.22s, border-color 0.22s;
}

.btn-book:hover {
  background: var(--color-orange);
  border-color: var(--color-orange);
}


/* Секция Hero */
.hero {
  height: 100vh;
  padding-top: 114px;
  padding-bottom: 40px;
  background: var(--color-header-footer-bg);
}

.hero__wrapper {
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 42% 58%;
  overflow: hidden;
}

.hero__wrapper::before {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
  background: linear-gradient(90deg, #191A18 0%, rgba(25, 26, 24, 0.5) 16%, rgba(25, 26, 24, 0) 31%);
}

.hero__wrapper::after {
  content: '';
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 0;
}

.hero-left {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
}

.hero-top__wrapper {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.hero-title {
  font-family: var(--font3);
  text-transform: uppercase;
  color: var(--color-white);
}

.hero-tagline {
  display: flex;
  align-items: baseline;
  gap: 10px;
  margin-bottom: 46px;

}

.hero-tagline span {
  font-family: var(--font3);
  font-size: 40px;
  text-transform: uppercase;
  line-height: 1.125;
  letter-spacing: 5%;
}

.tagline-crack {
  color: var(--color-orange);
}

.tagline-rest {
  color: var(--color-white);
}

.hero-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  /* margin-bottom: 0;
  margin-top: auto; */
}

.hero-card {
  position: relative;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 22px;
  background: var(--color-bg);
  color: var(--color-text);
  text-decoration: none;
  font-family: var(--font-family);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 3px;
  cursor: pointer;
  transition: background 0.22s, border-color 0.22s, transform 0.18s;
  backdrop-filter: blur(4px);
}

.hero-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 5px;
  right: 5px;
  bottom: 5px;

  border-left: 1px solid var(--color-orange);
  border-right: 1px solid var(--color-orange);
  border-bottom: 1px solid var(--color-orange);

  pointer-events: none;
}

.hero-card:hover {
  transform: translateY(-1px);
}

.hero-card strong {
  color: var(--color-orange);
  font-weight: 700;
  margin-right: 2px;
}

.hero-card-arrow {
  position: absolute;
  color: var(--color-orange);
  font-size: 16px;
  transition: transform 0.18s;
  flex-shrink: 0;
  bottom: 10px;
  right: 10px;
}

.hero-card:hover .hero-card-arrow { 
  transform: translateX(4px); 
}

.hero-right {
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.hero-right::before {
  content: '';
  position: absolute;
  top: 0; left: 0;
  width: 180px; height: 100%;
  background: linear-gradient(90deg, var(--color-header-footer-bg) 0%, transparent 100%);
  z-index: 5;
  pointer-events: none;
}

.hero-slider__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 68px);
}

.hero-slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center top;
  will-change: opacity;
}

.hero-slide.active { opacity: 1; }

.hero-slide::after {
  content: '';
  position: absolute;
  inset: 0;
  background: rgba(15,4,2,0.15);
}

.s1 { 
  background-image: url('../assets/images/main/hero.webp'); 
}
.s2 { 
  background-image: url('../assets/images/main/hero-2.jpg'); 
}
.s3 { 
  background-image: url('../assets/images/main/hero-3.jpg'); 
}
.s4 { 
  background-image: url('../assets/images/main/hero-4.jpg'); 
}

.hero-slider-dots {
  position: absolute;
  bottom: 110px;
  right: 28px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.hero-dot {
  width: 5px; height: 5px;
  border-radius: 50%;
  background: rgba(245,240,230,0.28);
  cursor: pointer;
  transition: background 0.3s, transform 0.3s;
}

.hero-dot.active {
  background: var(--color-orange);
  transform: scale(1.55);
}

/* Quests */
.quests {
}

/* Services */
.services {
  background-image: url(../assets/images/main/services.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* About */
.about {
}

/* Stats */
.stats {
  background-image: url(../assets/images/main/stats.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* Benefits */
.benefits {
}

/* Cta */
.cta {
}

/* Gallery */
.gallery {
}

/* Testimonials */
.testimonials {
  height: 200px;
  background-color: var(--color-text);
}

/* Partners */
.partners {
}

/* Form */
.form {
}

/* Footer */
.footer {
  padding: 36px 0;
}

/* GAMIFIED-TOURS */
.quote {
  background-image: url(../assets/images/gamifiedTours/quote-GT.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

.cta-gt {
  background-image: url(../assets/images/gamifiedTours/cta-GT.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* TEAM BUILDING */
.quote-tb {
  background-image: url(../assets/images/team-building/quote-TB.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* EVENTS PAGE */

/* SCHEDULE */

/* CUSTOM GAMES */

/* 404 */

/* ABOUT US */
.subscribe {
  background-image: url(../assets/images/main/stats.webp);
  background-size: cover;
  background-position: center;
  height: 200px;
}

/* Adaptiv */
@media (max-width: 1440px) {
}

@media (max-width: 1024px) {
}

@media (max-width: 768px) {
}

@media (max-width: 575px) {
}

@media (max-width: 480px) {
}
